/*
Stylesheet für Demo Portfolio Enno
Kurs Web-Workflow 1
Version: 1.3.3
*/


/*---------------------
RESET
---------------------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


nav.main-nav {
    display: none;
}



/*---------------------
LAYOUT
---------------------*/

/**-----
Layout Tokens
-----**/

:root {
    --base-unit: 0.25rem;
}


/**-----
Base Layout 
-----**/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
}

header {
    min-height: 13vh;
    padding-top: 50px;
}

main {
    min-height: 76vh;
}

section {
    min-height: 34vh;
}

footer {
    min-height: 21vh;
    margin-bottom: 1em;
}

article {
    margin-bottom: 1em;
}


.container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 1em calc(var(--base-unit) * 2);
}

.has-sidebar {
    display: flex;
    flex-wrap: wrap;
}



/*---------------------
NAVIGATION
---------------------*/

nav.main-nav {
    position: sticky;
    top: 0;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

nav.burger-icon {
position: fixed;
top: 0;
width: 100%;
background: var(--color-grey-cool-109);
}

nav.burger-icon .container {
    text-align: right;
padding-right: 1em;
padding-bottom: 4px;
}

nav.burger-icon a {
    display: inline-block;
    width: 32px;
}

nav.burger-icon a span {
    display: block;
    width: 100%;
    height: 5px;
    background: var(--color-type-500); /*move to COLOR section*/
    margin: 4px 0;
    border-radius: 3px;
}

nav.mobile-nav {
    height: 100vh;
    padding-top: 50px;
}

nav.mobile-nav a {
    display: block;
    padding: 0.5em;
    font-size: 2em;
}


/*---------------------
TYPOGRAPHY
---------------------*/


/**-----
Typography Font Source:
Inter by Rasmus Andersson
https://rsms.me/inter/
-----**/

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

body {
    font-weight: 300;
    line-height: 1.3;
}


/**---
Font Weights
---**/

.weight-100 {
    font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-branding {
    font-weight: 600;
}

nav a {
    font-weight: 500;
}

/**---
Font Sizes
---**/

aside,
footer {
    font-size: 0.8em;
}


/*---------------------
COLOR & STYLE
---------------------*/


/**---
Color Tokens
---**/

:root {
    /*Grey Scale Cool*/
    --color-grey-cool-100: hsl(199, 5%, 97%);
    --color-grey-cool-109: hsla(199, 5%, 97%, 0.9);
    /*Sub White*/
    --color-grey-cool-200: hsl(199, 8%, 89%);
    --color-grey-cool-300: hsl(199, 13%, 76%);
    --color-grey-cool-400: hsl(199, 13%, 68%);
    --color-grey-cool-500: hsl(199, 13%, 55%);
    --color-grey-cool-600: hsl(199, 21%, 42%);
    --color-grey-cool-700: hsl(199, 34%, 34%);
    --color-grey-cool-800: hsl(199, 42%, 21%);
    --color-grey-cool-900: hsl(199, 42%, 8%);
    /*Sub Black*/

    /*Accent Colors */
    --color-accent-100: hsl(30, 97%, 55%);
    --color-accent-200: hsl(89, 55%, 42%);


    /*Color Tokens Level 2*/
    --color-type-100: var(--color-grey-cool-100);
    --color-type-300: var(--color-grey-cool-300);
    --color-type-500: var(--color-grey-cool-800);

    --color-bckg-card-100: var(--color-grey-cool-200);
    --color-type-card-100: var(--color-grey-cool-900);

    --color-bckg-btn-100: var(--color-grey-cool-200);
    --color-type-btn-100: var(--color-grey-cool-800);

    --color-type-btn-100-card: var(--color-grey-cool-100);
    --color-bckg-btn-100-card: var(--color-accent-200);
}


/**---
Color Backgrounds
---**/

body {
    background: var(--color-grey-cool-100);
}

nav.main-nav {
    background: var(--color-grey-cool-109);
}


footer {
    background: var(--color-grey-cool-800);
}


/**---
Color Type
---**/

body {
    color: var(--color-type-500);
}

footer {
    color: var(--color-type-300);
}

.site-branding a:hover,
nav a:hover,
nav .current a {
    color: var(--color-accent-100);
}



/**---
Style
---**/

nav.main-nav {
    border-bottom: 1px solid var(--color-grey-cool-300);
}




/*---------------------
COMPONENTS
---------------------*/

/**-----
Comp Buttons
---**/

button,
a.btn {
    display: inline-block;
    line-height: 1.2;
    margin: 0;
}


.btn-100 {

    padding: 3px 12px 2px;
    border-radius: 1em;
    border: 2px solid var(--color-bckg-btn-100);
    /* border: none; */
    font-size: 1rem;
    font-weight: 500;
    background: var(--color-bckg-btn-100);
    color: var(--color-type-btn-100);
}

.btn-100:hover {
    background: var(--color-accent-100);
    border-color: var(--color-accent-100);
    color: #fff;
    cursor: pointer;
}


/**-----
Comp Card
---**/

.card {
    padding: calc(var(--base-unit) * 1);
}

.card .inner {
    padding: calc(var(--base-unit) * 2);
    border-radius: calc(var(--base-unit) * 4);
    background: var(--color-bckg-card-100);
    color: var(--color-type-card-100)
}

.card figure {
    margin-bottom: 1em;
    border-radius: calc(var(--base-unit) * 2);
    overflow: hidden;
}

.card p {
    font-size: 0.8em;
    line-height: 1.5;
}

.card .btn-100 {
    margin-left: auto;
    /* background: var(--color-bckg-btn-100-card); */
    /* border-color: var(--color-type-btn-100-card); */
    /* color: var(--color-type-btn-100-card); */
}

.card .btn-100:hover {
    /* background: var(--color-type-btn-100-card); */
    /* color: var(--color-bckg-btn-100-card); */
}






/*---------------------
RESPONSIVE BREAKPOINTS
---------------------*/

/* Breakpoint: Mobil -> Tablet Hoch*/
@media (min-width: 580px) {


    nav.main-nav {
        display: block;
    }

    nav.burger-icon,
    nav.mobile-nav {
        display: none;
    }

    .header {
        padding-top: 0;
    }

    .flexbox {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        width: 50%;
    }


    aside {
        padding-left: calc(var(--base-unit) * 2);
        border-left: 1px solid var(--color-grey-cool-300);
    }

    .has-sidebar h2 {
        width: 100%;
    }

    .has-sidebar article {
        width: 70%;
    }

    .has-sidebar aside {
        width: 30%;
    }

}

/* Breakpoint: Tablet Hoch -> Tablet Quer */
@media (min-width: 900px) {

    .card {
        width: 33.33%;
    }

}

/* Breakpoint: Tablet Quer -> Desktop/Laptop */
@media (min-width: 75rem) {}


/*---------------------
DEV OVERRIDES
---------------------*/